<template>
  <button class="g-dropdown" @click="teigger" @blur="close">
    <div class="g-dropdown__outside">
      <slot />
    </div>

    <transition name="fade">
      <div class="g-dropdown__inset" v-show="showInset" @click.stop>
        <div class="g-dropdown__inset-main">
          <slot name="dropdown" />
        </div>
      </div>
    </transition>
  </button>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class GDropdown extends Vue {
  public showInset = false;

  public teigger() {
    this.showInset = !this.showInset;
  }
  public close($event?: FocusEvent) {
    this.showInset = $event ? false : true;
  }
}
</script>

<style lang="stylus">
@import '~@/styles/var.styl';

.g-dropdown {
  font-size: inherit
  line-height: inherit
  display: block;
  width: 100%;
  position: relative;
  border: 0;
  outline: 0;
  text-align: left;
  padding: 0;
  background-color: transparent;

  &__outside {
    cursor pointer;
  }

  &__inset {
    position: absolute;
    min-width: 100%;
    max-width: 90vw;
    top: 100%;
    left: 0;
    padding-top: 26px;
    box-shadow: -2px 3px 12px #00000026;
    z-index: 1000;
    &:after {
      content: '';
      display: block;
      border-style: solid;
      border-color: transparent transparent white transparent;
      border-width: 20px;
      position: absolute;
      top: -14px;
      left: 40px;
      z-index: 1;
    }
  }
  &__inset-main {
    background-color: white;
    border-radius: radius-base;
  }

  .fade-enter, .fade-leave-to {
    transform: translateY(-10px);
    opacity: 0;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity transition-time, transform transition-time;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}
</style>
