<template>
  <ion-icon
    v-if="!!name"
    :name="name"
    :class="[classNames]"
    v-on="on"
    v-bind="bindAttr"
    v-show="isVisibility(visibility)"
  ></ion-icon>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import GDrawer from "@/components/g-drawer";
import { Icons } from "./type";

@Component({
  components: {
    GDrawer,
  },
})
export default class Ion extends Vue {
  @Prop()
  public name?: Icons["name"];

  @Prop({ default: () => [] })
  public classNames!: Icons["classNames"];

  @Prop()
  public on?: Icons["on"];

  @Prop()
  public bindAttr?: any;

  @Prop()
  public visibility?: Icons["visibility"];

  public isVisibility(visibility: Icons["visibility"]) {
    return typeof visibility === "function" ? visibility() : visibility ?? true;
  }
}
</script>

<style lang="stylus">
@import '~@/styles/var.styl';
</style>
