<template>
  <div
    :class="[
      'slider-image',
      'slider-image--' + size,
      pagePosition,
      { blur: blur },
    ]"
    :style="styles"
  >
    <div :class="[{ 'slider-image__background-dark': dark }]" />
    <div class="slider-image__page" v-if="images.length > 2">
      <div
        :class="['slider-image__page__item', { index: index === i }]"
        v-for="(item, i) of images"
        :key="item"
        @click="() => startTurn(i)"
      />
    </div>
    <div class="slider-image__content">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class SliderImage extends Vue {
  @Prop({ default: () => [] })
  public images!: string[];
  @Prop({ default: false, type: Boolean })
  public blur!: boolean;
  @Prop({ default: false, type: Boolean })
  public dark!: boolean;
  @Prop({ default: "smail" })
  public size!: "medium" | "smail";
  @Prop({ default: "right" })
  public pagePosition!: "top" | "left" | "right" | "bottom";

  public index = 0;
  public timer: number | undefined = undefined;

  public get styles() {
    return {
      backgroundImage: `url(${this.images[this.index]})`,
    };
  }
  public startTurn(index?: number) {
    clearTimeout(this.timer);
    if (index !== undefined) {
      this.index = index;
    }
    this.timer = setTimeout(() => {
      this.index++;
      if (this.index >= this.images.length) {
        this.index = 0;
      }
      this.startTurn();
    }, 8000);
  }
  public mounted() {
    this.startTurn();
  }
  public beforeDestroy() {
    clearTimeout(this.timer);
  }
}
</script>

<style lang="stylus" src="./main.styl"></style>
