
@import '~@/styles/var.styl';
@import '~@/styles/mixins/rwd.styl';
.slider-image
  background-position: center;
  background-size: cover;
  position: relative;
  // transition: all 0.4s;
  box-sizing: border-box;
  &__content
    position: relative;
    z-index: 1;
  &__background-dark
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    ^[0].blur &
      backdrop-filter: blur(12px);
  &__page
    position: absolute;
    z-index: 2;
    ^[0].top &
      width: 100%;
      top: 10px;
      left: 0;
      display: flex;
      justify-content: center;
      &__item
        margin-right: 17px;

    ^[0].left &
      left: 50px;
      top: 50%;
      transform: translateY(-50%);
      &__item
        margin-bottom: 17px;

    ^[0].right &
      margin-bottom: 17px;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      &__item
        margin-bottom: 17px;
    ^[0].bottom &
      width: 100%;
      bottom: 10px;
      left: 0;
      display: flex;
      justify-content: center;
      &__item
        margin-right: 17px;

    &__item
      background-color: #B3B0AC;
      height: 10px;
      width: 10px;
      border-radius: 10px;
      cursor: pointer;
      opacity: 0.5;
      &.index
        opacity: 1;
        background-color: rgba(0,0,0,0);
        box-shadow: 0 0 2px inset #B3B0AC;
