<template>
  <g-drawer
    class="simple-drawer"
    :value="value"
    @input="$emit('input', value)"
    @change="onClose"
    ref="g-drawer"
  >
    <div class="simple-drawer__icon-wrap">
      <span class="close">
        <ion-icon
          class="simple-drawer__icon"
          name="close-outline"
          @click="onClose"
        ></ion-icon>
      </span>
      <span>
        <ion-icon
          class="simple-drawer__icon m-r-10"
          name="chevron-back-outline"
          @click="onPerv"
        ></ion-icon>
      </span>
      <span>
        <ion-icon
          class="simple-drawer__icon m-r-12"
          name="chevron-forward-outline"
          @click="onNext"
        ></ion-icon>
      </span>
      <span>
        <ion
          v-for="(icon, i) in icons"
          :key="i"
          :name="icon.name"
          :classNames="['simple-drawer__icon', icon.classNames]"
          :visibility="icon.visibility"
          :on="icon.on"
        ></ion>
      </span>
    </div>

    <div class="simple-drawer__main">
      <slot />
    </div>
  </g-drawer>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import GDrawer from "@/components/g-drawer";
import Ion from "@/container/ion";
import type { Icons } from "@/container/ion/type";

@Component({
  components: {
    GDrawer,
    Ion,
  },
})
export default class SimpleDrawer extends Vue {
  @Prop({ default: false })
  public value!: boolean;

  @Prop({ default: "right" })
  public direction!: "left" | "right" | "bottom" | "top";

  @Prop({ default: () => [] })
  public icons!: Icons[];

  public onClose() {
    this.$emit("input", false);
  }
  public onPerv() {
    this.$emit("perv");
  }
  public onNext() {
    this.$emit("next");
  }

  public scrollTo() {
    this.$nextTick(() => {
      const ref = this.$refs["g-drawer"] as GDrawer;
      if (ref) {
        ref.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }
    });
  }
}
</script>

<style lang="stylus">
@import '~@/styles/var.styl';

.simple-drawer {
  &__icon-wrap {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    z-index: 2;
  }
  .close {
    flex-grow: 1;
  }
  &__icon {
    padding: 8px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    opacity: 0.6;
    position: relative;
    background-color: color-text-regular;
    border-radius: 50%;
    &:hover {
      opacity: 0.8;
      transition: transition-time;
    }
  }
}
</style>
