<template>
  <div :class="['go-top', { show: show }]" @click="handlerScroll">TOP</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import _ from "lodash";

@Component
export default class GoTop extends Vue {
  public show = false;

  public handlerShow(e: Event) {
    const el = e.currentTarget as Window | undefined;
    if (!el) {
      return;
    }
    this.show = el.scrollY / el.innerHeight > 1.5;
  }
  public handlerScroll() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }

  public mounted() {
    const throttle = _.throttle(this.handlerShow, 100);
    window.addEventListener("scroll", throttle);
    this.$once("hook:beforeDestroy", () => {
      window.removeEventListener("scroll", throttle);
    });
  }
}
</script>

<style lang="stylus" src="./main.styl"></style>
