@import '~@/styles/var.styl';
@import '~@/styles/mixins/rwd.styl';
.go-top
  position: fixed;
  right: -100px;
  bottom: 0px;
  opacity: 0;
  color: #5BB89B;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.4s, bottom 0.4s cubic-bezier(0,1.72,.88,1.32), right 0s 0.4s
  &::before
    content: '';
    width: 0px;
    display: block;
    border-style: solid;
    border-color: transparent;
    border-width: 0 20px 30px 20px;
    border-bottom-color: #5BB89B;
    margin-bottom: 4px;
  &.show
    right: 24px
    bottom: 84px
    opacity: 1;
    transition: opacity 0.4s, bottom 0.4s cubic-bezier(0,1.72,.88,1.32)
    +$screen(min-lg)
      bottom: 24px;
