<template>
  <slider-image
    class="search-slider-image g-padding"
    :images="images"
    :size="$attrs.size"
    blur
    dark
  >
    <slot />
  </slider-image>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SliderImage from "@/components/slider-image";

import img03 from "@/assets/home/img-background-03.jpg";
import img06 from "@/assets/home/img-background-06.jpg";
import img05 from "@/assets/home/img-background-05.jpg";
import img04 from "@/assets/home/img-background-04.jpg";
import img02 from "@/assets/home/img-background-02.jpg";
import img01 from "@/assets/home/img-background-01.jpg";

@Component({
  components: {
    SliderImage,
  },
})
export default class SearchSliderImage extends Vue {
  public images = [img03, img06, img05, img04, img02, img01];
}
</script>

<style lang="stylus" src="./main.styl"></style>
