@import '~@/styles/var.styl';
@import '~@/styles/mixins/rwd.styl';

.search-slider-image
  transition: all 0.4s;
  &.right .slider-image__page
    top: 55%;
    +$screen(max-lg)
      display: none;

