<template>
  <router-link
    :class="['logo-link', `logo-link--${logoModel}`]"
    :to="to"
    :aria-label="ariaLabelMessage"
  >
    <span class="logo-link__pic" />
  </router-link>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class LogoLink extends Vue {
  @Prop({ default: "/" })
  public to!: string;

  @Prop({ default: () => ["and to web home"] })
  public ariaLabel!: string[];

  @Prop({ default: "normal" })
  public logoModel!: "normal" | "light";

  public get ariaLabelMessage() {
    const message = this.ariaLabel.join(", ");
    return "SOUSOU LOGO, " + message;
  }
}
</script>

<style lang="stylus">
@import '~@/styles/var.styl';
@import "~@/styles/mixins/rwd.styl";

.logo-link {
  display: inline-block;
  &__pic {
    display: inline-block;
    background-size: cover;
    ^[0]--normal & {
      background-image: url('~@/assets/logo.png');
      width: 60px;
      height: 206px;
    }
    ^[0]--light & {
      background-image: url('~@/assets/logo-light.png');
      width: 123.6px;
      height: 36px;
    }
  }
}
</style>
