
@import "~@/styles/var.styl";
@import "~@/styles/mixins/rwd.styl";

.layout
  &__body
    +$screen(min-lg)
      margin-left: menu-pc-width;

  &__side-bar
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    +$screen(min-lg)
      width: menu-pc-width;
      height: 100vh;
      overflow: auto;
      box-sizing: border-box;
      &::-webkit-scrollbar
        width: 0;
        height: 0;
      .menu
        flex-direction: column;
        height: calc(100vh - 360px);
  &__logo-link--mobile
    display: none;
    height: 100px;
    box-sizing: border-box;
    +$screen(max-lg)
      display: block;
      width: 200px;
      margin-bottom: -100px;
      margin-left: auto;
      margin-right: auto;
      position relative;
      z-index 1
      padding-top: 26px;
      padding-bottom: 26px;
      text-align: center;
  &__logo-link--pc
    display: none;
    +$screen(min-lg)
      height: 360px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FDF6EE;

