<template>
  <main class="layout">
    <slot name="other" />

    <div class="layout__body">
      <logo-link class="layout__logo-link--mobile" logoModel="light" />
      <slot />
    </div>

    <div class="layout__side-bar">
      <logo-link class="layout__logo-link--pc" />
      <Menu />
    </div>

    <go-top />
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Menu from "@/container/menu";
import LogoLink from "@/container/logo-link";
import GoTop from "@/container/go-top";

@Component({
  components: {
    Menu,
    LogoLink,
    GoTop,
  },
})
export default class Layout extends Vue {}
</script>

<style lang="stylus" src="./main.styl"></style>
