@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import './var.styl';
@import './mixins/rwd.styl';

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  color: color-text-regular;
}

.g-padding {
  padding: 20px 20px 120px 20px;
  padding-top: logo-mobile-height;
  +$screen(min-lg) {
    padding: 56px 96px 24px 96px;
  }
}


.m-r-10 {
  margin-right: 10px;
}
.m-r-12 {
  margin-right: 12px;
}
