<template>
  <div class="info-item" v-if="value">
    <ion-icon v-if="icon" class="info-item__icon" :name="icon"></ion-icon>
    <a v-if="href" :href="href" target="_blank">
      {{ value }}
    </a>
    <span v-else>
      {{ value }}
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import "./style.styl";

@Component
export default class InfoItem extends Vue {
  @Prop({ default: "" })
  public icon!: string;

  @Prop({ default: "" })
  public value!: string;

  @Prop({ default: "" })
  public href!: string;
}
</script>
