<template>
  <div class="drawer-card">
    <h4
      v-if="!!emptyText"
      style="
        padding: 20px;
        font-size: 24px;
        height: 100px;
        line-height: 100px;
        text-align: center;
      "
    >
      {{ emptyText }}
    </h4>
    <template v-else>
      <slider-image
        v-show="infoData.images && infoData.images.length"
        page-position="bottom"
        :images="images"
      />
      <h3 class="drawer-card__title">{{ infoData.title }}</h3>
      <p class="drawer-card__description">{{ infoData.description }}</p>

      <ul class="drawer-card__info" v-if="infoData.items.length">
        <li
          :class="['drawer-card__info-item', item.icon]"
          v-for="item of infoData.items"
          :key="item.icon"
        >
          <info-item
            :icon="item.icon"
            :value="item.value"
            :href="item.href"
          ></info-item>
        </li>
      </ul>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import InfoItem from "./info-item.vue";
import SliderImage from "@/components/slider-image";
import { DrawerCard as T, Data } from "./types";
import "./style.styl";

@Component({
  components: {
    InfoItem,
    SliderImage,
  },
})
export default class DrawerCard extends Vue implements T {
  @Prop({
    default: () => ({
      items: [],
    }),
  })
  public infoData!: Data;

  @Prop({ default: "" })
  public emptyText!: string;

  public get images() {
    const { infoData } = this;
    const { images = [] } = infoData;

    if (!images) {
      return [];
    }

    return images.map((pic) => pic.url);
  }
}
</script>
