@import '~@/styles/var.styl';

.info-item
  display: flex
  line-height: 1.5
  &__icon
    margin-right: 4px
    font-size: 20px
    color: color-primary-light-4
    flex-shrink: 0;

.drawer-card
  margin-top: -20px;
  &__title
    color: color-primary;
    font-size: 20px;
    padding: 16px 0;
    line-height: 1.2;
    position: sticky;
    z-index: 1;
    top: ((-56 - 8) / 2)px;
    background-color: white;
    user-select: none;
  &__description
    color: color-text-primary;
    padding-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.96;
    text-align: justify;
    user-select: none;
  &__info
    padding-top: 24px;
  .info-item
    padding-bottom: 16px;
  a
    color: color-text-regular;
  .slider-image
    height: 180px;
    border-radius: radius-base;
    overflow: hidden;
