<template>
  <button class="more-btn">
    <ion-icon class="more-btn__icon" name="caret-down-outline"></ion-icon>
    顯示更多
    <ion-icon class="more-btn__icon" name="caret-down-outline"></ion-icon>
  </button>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class MoreBtn extends Vue {}
</script>

<style lang="stylus">
@import '~@/styles/var.styl';

.more-btn {
  background-color: rgba(0,0,0,0);
  border: 0;
  outlint: 0;
  color: color-text-secondary;
  font-size: 20px;
  display: flex;
  align-items: center;
  line-height: 2.8;
  cursor: pointer;
  &__icon {
    font-size: 24px;
  }
}
</style>
