<template>
  <div :class="['simple-card', { 'simple-card--has-image': hasImage }]">
    <div class="simple-card__content">
      <div class="simple-card__img">
        <img :src="pic.url" :alt="pic.description" @error="handlerPic" />
      </div>

      <!-- TODO localsotrage -->
      <div class="simple-card__main">
        <span>
          <ion
            v-for="(icon, i) in icons"
            :key="i"
            :name="icon.name"
            :classNames="['simple-card__add-btn', icon.classNames]"
            :visibility="icon.visibility"
            :on="icon.on"
            :bindAttr="{
              'data-id': id,
            }"
          ></ion>
        </span>
        <h3 class="simple-card__title">{{ title }}</h3>
        <p class="simple-card__text">{{ text }}</p>
        <div
          class="simple-card__other-items"
          v-for="(item, i) of otherList"
          :key="i"
        >
          <ion-icon
            v-if="item.icon"
            class="simple-card__icon"
            :name="item.icon"
          ></ion-icon
          ><span class="simple-card__text">{{ item.value }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import imageError from "@/assets/error/image-error.png";

import Ion from "@/container/ion";
import type { Icons } from "@/container/ion/type";

import { Images } from "./type";
@Component({
  components: {
    Ion,
  },
})
export default class Card extends Vue {
  @Prop({ default: "" })
  public title!: string;
  @Prop({ default: "" })
  public text!: string;
  @Prop({ default: "" })
  public address!: string;
  @Prop({ default: "" })
  public classType!: string;
  @Prop({ default: "" })
  public spec!: string;
  @Prop({ default: "" })
  public openTime!: string;
  @Prop({ default: () => [] })
  public image!: Images[];
  @Prop({ default: "" })
  public id!: string;

  @Prop({ default: () => [] })
  public icons!: Icons[];

  public errorImage = {
    url: imageError,
    description: "未提供圖片或是無法讀取圖片",
  };
  public isImageSuccess = true;

  public get otherList() {
    return [
      {
        icon: "location-outline",
        value: this.address,
      },
      {
        icon: "star-outline",
        value: this.classType,
      },
      {
        icon: "bed-outline",
        value: this.spec,
      },
      {
        icon: "time-outline",
        value: this.openTime,
      },
    ].filter((item) => item.value);
  }

  public get hasImage() {
    return this.isImageSuccess && this.image.length;
  }

  public get pic(): Images {
    // TODO 可手動切換
    if (!this.image.length) {
      return this.errorImage;
    }
    const picList = this.image.filter((item) => {
      return item.url;
    });

    return picList.length ? picList[0] : this.errorImage;
  }
  public handlerPic(e: Event) {
    const el = e.target as HTMLImageElement;
    el.src = this.errorImage.url;
    el.alt = this.errorImage.description;
    this.isImageSuccess = false;
  }
}
</script>

<style lang="stylus">
@import '~@/styles/var.styl';

.simple-card {
  &__content {
    border: 1px solid color-border-base;
    border-radius: radius-base;
    line-height: 1.5;
    overflow: hidden;
    cursor: pointer;
    min-height: 100%;
    transition: transition-time;
    &:hover {
      box-shadow: 0px 5px 10px #0000001A;
    }
  }
  &__img {
    height: 152px;
    text-align: center;
    background-color: mix(#ffffff, color-border-base, 65%);
    position: relative;
    overflow: hidden;
    img {
      width: 102px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    ^[0]--has-image & {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__main {
    padding: 4px 16px 8px 16px;
    position: relative;
  }
  &__add-btn--outline {
    color: #fff;
    background-color: color-primary-light-2;
    opacity : 0.8;
  }
  &__mark-btn--outline {
    color: #fff;
    background-color: color-primary;
    opacity : 1;
  }
  &__add-btn {
    border-radius: 50%;
    padding: 6px;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transition-time;
    &:hover {
      box-shadow: 0px 5px 10px #0000001A;
    }
  }
  &__title,
  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__title {
    padding-right: 40px;
    color: color-text-primary;
    font-size: 16px;
  }
  &__text {
    color: color-text-regular;
    font-size: 12px;
  }
  &__other-items {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    padding-right: 10px;
    box-sizing: border-box;

    & + & {
      padding-top: 8px;
    }
    span {
      vertical-align: middle;
      margin-top: 2px;
      display: inline-block;
      width:100%;
    }
  }
  &__icon {
    font-size: 16px;
    color: color-primary-light-4;
    margin-right: 4px;
    vertical-align: middle;
  }
}
</style>
