<template>
  <section class="journey">行程規劃</section>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Restaurant extends Vue {}
</script>

<style lang="stylus">
@import '~@/styles/var.styl';
</style>
