<template>
  <layout-main class="restaurant">
    <search-slider-image>
      <search-bar size="smail" @submit="reloadData" />
    </search-slider-image>
    <section-main name="RestaurantInfo" />
  </layout-main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SearchBar from "@/container/search-bar";
import LayoutMain from "@/container/layout-main";
import SearchSliderImage from "@/container/search-slider-image";
import SectionMain from "@/container/section-main";

@Component({
  metaInfo: {
    title: " | 美食",
  },
  components: {
    SearchBar,
    LayoutMain,
    SearchSliderImage,
    SectionMain,
  },
})
export default class Restaurant extends Vue {
  public get state() {
    return this.$$store.state;
  }
  public get query() {
    return this.state.query;
  }

  public async reloadData() {
    try {
      this.$$store.dispatch("getRestaurantList", {
        params: this.query,
        isAdd: false,
      });
    } catch (e) {
      console.error(e);
    }
    this.handlerRoute();
  }

  public handlerRoute() {
    const { country, town, keyword } = this.query;

    const routeOption = {
      name: "restaurant",
      query: {
        country: country?.CityName || undefined,
        town: town?.TownCode ? town?.TownName : undefined,
        keyword: keyword || undefined,
      },
    };

    const newUrl = this.$router.resolve(routeOption);

    if (newUrl.resolved.fullPath === this.$route.fullPath) {
      return;
    }
    this.$router.push(routeOption);
  }
  public mounted() {
    this.reloadData();
  }
}
</script>
