<template>
  <div :class="['layout-main', { flex: flex }]">
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class LayoutMain extends Vue {
  @Prop({ default: false, type: Boolean })
  public flex!: boolean;
}
</script>

<style lang="stylus">
@import '~@/styles/var.styl';
@import "~@/styles/mixins/rwd.styl";

.layout-main {
  box-sizing: border-box;
  height: 100%;
  &.flex {
    flex: 1;
    min-height: 100%;
    height: 0;
  }
}
</style>
