<template>
  <section class="section-box">
    <div class="section-box__title-wrap">
      <ion-icon class="section-box__icon" name="pin-outline"></ion-icon>
      <h2 class="section-box__title">{{ title }}</h2>
    </div>
    <div class="empty-text" v-if="isEmpty">暫無資訊</div>
    <slot />

    <more-btn v-if="showMoreBtn" @click.native="$emit('click-more')" />
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import MoreBtn from "@/container/more-btn";

@Component({
  components: {
    MoreBtn,
  },
})
export default class SectionBox extends Vue {
  @Prop({ default: "" })
  public title!: string;

  @Prop({ default: false, type: Boolean })
  public showMoreBtn!: boolean;

  @Prop({ default: false, type: Boolean })
  public isEmpty!: boolean;
}
</script>

<style lang="stylus">
@import '~@/styles/var.styl';

.section-box {
  &__title-wrap {
    color: color-assist;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 24px;
  }
  &__icon {
    font-size: 24px;
  }
  .empty-text {
    padding-top: 20px;
    padding-left: 20px;
  }
  .more-btn {
    margin: auto;
  }
}
</style>
