<template>
  <section-box class="activity-nowrap-cards" title="活動">
    <div class="activity-nowrap-cards__item__wrap">
      <div
        class="activity-nowrap-cards__item"
        v-for="item of list"
        :key="item.ActivityID"
        @click="() => handlerShowDrawer(item)"
      >
        <div v-if="item.ActivityID" class="activity-nowrap-cards__item__main">
          <div class="activity-nowrap-cards__item__img">
            <img v-bind="getImageAttrs(item)" @error="handlerImageError" />
          </div>
          <div class="activity-nowrap-cards__item__content">
            <ion-icon
              @click="handlerAddLove"
              class="activity-nowrap-cards__item__add-btn"
              name="add-circle"
            ></ion-icon>
            <div class="activity-nowrap-cards__item__title">
              {{ item.ActivityName }}
            </div>
            <div class="activity-nowrap-cards__item__description">
              {{ item.Description }}
            </div>
          </div>
        </div>

        <div v-else class="activity-nowrap-cards__item__main empty">
          <p class="activity-nowrap-cards__item__empty-title">期待更多活動</p>
          <span class="activity-nowrap-cards__item__empty-text"
            >coming soon</span
          >
        </div>
      </div>
    </div>

    <simple-drawer
      v-model="showDrawer"
      @perv="() => handlerDrawerIndex(index - 1)"
      @next="() => handlerDrawerIndex(index + 1)"
      @add-love="handlerAddLove"
      @remove-love="handlerRemoveLove"
      ref="simple-drawer"
    >
      <drawer-card
        :emptyText="index === maxPageSizes && '沒有更多資料囉！'"
        :infoData="drawerData"
      />
    </simple-drawer>

    <div class="activity-nowrap-cards__pager">
      <pager
        v-if="storeList.length >= page.size"
        :total="storeList.length"
        :pageSize="page.size"
        :pageIndex="page.index"
        @changePageIndex="handlerPageIndex"
      />
    </div>
  </section-box>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import "./activity-nowrap-cards.styl";
import imageError from "@/assets/error/image-error.png";
import SectionBox from "@/container/section-box";
import SimpleDrawer from "@/container/simple-drawer";
import DrawerCard from "@/container/drawer-card";
import Pager from "@/components/pager";
import { ActivityInfo } from "@/store/getters-state";

import { formatTime } from "../utils/date";

@Component({
  components: {
    SectionBox,
    SimpleDrawer,
    DrawerCard,
    Pager,
  },
})
export default class ActivityNowrapCards extends Vue {
  public showDrawer = false;
  public index = 0;
  public page = {
    index: 1,
    size: 3,
  };
  public get storeList(): ActivityInfo[] {
    return this.$$store.getters.formatActivityList;
  }
  public get list() {
    const { index, size } = this.page;
    const list: Partial<ActivityInfo>[] = this.storeList.slice(
      (index - 1) * size,
      index * size
    );
    const tmp = [{}, {}, {}];
    //  list.length < size
    //   ? list.splice(1, 0, tmp.slice(0, size - list.length))
    //   : list;

    if (list.length < size) {
      list.splice(1, 0, ...tmp.slice(0, size - list.length));
    }
    return list;
  }
  public get maxPageSizes() {
    return this.storeList.length - 1;
  }
  public get drawerData() {
    const infoData = this.storeList[this.index];
    if (!infoData) {
      return {
        title: "",
        description: "",
        items: [],
      };
    }
    const [start, end] = [
      formatTime(infoData.StartTime),
      formatTime(infoData.EndTime),
    ];
    return {
      title: infoData.ActivityName,
      description: infoData.Description,
      items: [
        {
          icon: "time-outline",
          value: `${start}-${end}`,
        },
        {
          icon: "ticket-outline",
          value: Array.from(new Set([infoData.Class1, infoData.Class2]))
            .filter((item) => item)
            .join("\n"),
        },
        {
          icon: "location-outline",
          value: [infoData.Organizer, infoData.Address]
            .filter((item) => item)
            .join("\n"),
        },
        {
          icon: "call-outline",
          value: infoData.Phone,
        },
        {
          icon: "globe-outline",
          value: infoData.WebsiteUrl,
          href: infoData.WebsiteUrl,
        },
      ],
    };
  }

  public getImageAttrs(item: Partial<ActivityInfo>) {
    const img = this.getErrorImage();

    if (!item || !item.Picture?.length) {
      return img;
    }
    const picList = item.Picture.filter((item) => {
      return item.url;
    });

    if (picList.length) {
      img.src = picList[0].url;
      img.alt = picList[0].description;
    }
    return {
      src: img.src,
      alt: img.alt,
    };
  }
  public handlerImageError(e: Event) {
    const el = e.target as HTMLImageElement;
    const { src, alt } = this.getErrorImage();
    el.src = src;
    el.alt = alt;
  }
  public getErrorImage() {
    return {
      src: imageError,
      alt: "未提供圖片或是無法讀取圖片",
      "data-empty": true,
    };
  }
  public handlerDrawerIndex(index: number) {
    if (index < 0) {
      index = 0;
    }
    if (index > this.maxPageSizes) {
      return;
    }
    this.index = index;
  }
  public handlerPageIndex(index: number) {
    this.page.index = index;
  }
  public handlerAddLove() {
    // TODO
  }
  public handlerRemoveLove() {
    // TODO
  }
  public handlerShowDrawer(item: Partial<ActivityInfo>) {
    if (!item.ActivityID) {
      return;
    }
    this.showDrawer = true;
  }

  @Watch("storeList")
  public resetPage() {
    this.handlerPageIndex(1);
  }
}
</script>
