<template>
  <section-box
    title="活動"
    class="g-padding"
    :show-more-btn="showMore"
    :is-empty="storelist.length === 0"
    @click-more="handlerMore"
  >
    <div class="flex">
      <simple-card
        v-for="(item, $index) of storelist"
        :key="item.ActivityID"
        :title="item.ActivityName"
        :image="item.Picture"
        :id="item.ActivityID"
        :icons="getIcons(item)"
        @click.native="() => handlerDrawer(item, $index)"
      />
    </div>

    <simple-drawer
      v-model="showDrawer"
      @perv="() => handlerPager(index - 1)"
      @next="() => handlerPager(index + 1)"
      :icons="getIcons(infoData)"
      ref="simple-drawer"
    >
      <drawer-card
        :emptyText="index > maxPageSizes && '沒有更多資料囉！'"
        :infoData="drawerData"
      />
    </simple-drawer>
  </section-box>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import SectionBox from "@/container/section-box";
import SimpleDrawer from "@/container/simple-drawer";
import SimpleCard from "@/container/simple-card";
import DrawerCard, { IDrawerCard } from "@/container/drawer-card";
import * as GettersState from "@/store/getters-state";
import { formatTime } from "../utils/date";

import ExtendsVue from "./extends-vue.vue";

@Component({
  components: {
    SectionBox,
    SimpleCard,
    SimpleDrawer,
    DrawerCard,
  },
})
export default class ActivityInfo extends ExtendsVue<GettersState.ActivityInfo> {
  public infoData: GettersState.ActivityInfo | null = null;
  public showDrawer = false;
  public index = 0;
  public pageIndex = 1;

  public get storelist(): GettersState.ActivityInfo[] {
    return this.$$store.getters.formatActivityList;
  }
  public get drawerData(): IDrawerCard.Data {
    const { infoData } = this;
    if (!infoData) {
      return {
        title: "",
        description: "",
        items: [],
      };
    }
    const [start, end] = [
      formatTime(infoData.StartTime),
      formatTime(infoData.EndTime),
    ];
    return {
      title: infoData.ActivityName,
      description: infoData.Description,
      images: infoData.Picture,
      items: [
        {
          icon: "time-outline",
          value: `${start}-${end}`,
        },
        {
          icon: "ticket-outline",
          value: Array.from(new Set([infoData.Class1, infoData.Class2]))
            .filter((item) => item)
            .join("\n"),
        },
        {
          icon: "location-outline",
          value: [infoData.Organizer, infoData.Address]
            .filter((item) => item)
            .join("\n"),
        },
        {
          icon: "call-outline",
          value: infoData.Phone,
        },
        {
          icon: "globe-outline",
          value: infoData.WebsiteUrl,
        },
      ],
    };
  }

  public getIcons(data?: GettersState.ActivityInfo | null) {
    const { addBtn, bookmarkBtn } = this.icons;
    return [
      {
        ...addBtn,
        visibility: this.loveList.includes(data?.ActivityID || "") === false,
        on: {
          click: (e: Event) => {
            e.stopPropagation();
            data?.ActivityID && this.handlerAddLove(data.ActivityID);
          },
        },
      },
      {
        ...bookmarkBtn,
        visibility:
          data?.ActivityID && this.loveList.includes(data?.ActivityID) === true,
        on: {
          click: (e: Event) => {
            e.stopPropagation();
            data?.ActivityID && this.handlerRemoveLove(data.ActivityID);
          },
        },
      },
    ];
  }

  public async api() {
    await this.$$store.dispatch("getActivityList", {
      params: {
        ...this.$$store.state.query,
        pageIndex: this.pageIndex + 1,
      },
      isAdd: true,
    });
  }
}
</script>
