@import '~@/styles/var.styl';
@import "~@/styles/mixins/rwd.styl";

.activity-nowrap-cards
  background-color: color-primary-light-4;
  &.section-box
    padding: 20px
    +$screen(min-lg)
      padding: 24px 96px 24px 96px
  .section-box__title-wrap
    color: white;
  &__pager
    padding-top: 22px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;

  &__item
    box-sizing: border-box;
    flex: 30%;
    min-width: 300px;
    cursor: pointer;
    &__empty-title
      color: white;
      font-size: 16px;
      padding-bottom: 4px;
    &__empty-text
      font-size: 14px;
      color: #ABD1CE;
    &__wrap
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 34px;
     &__main
      height:100%;
      background-color: white;
      border-radius: radius-base;
      overflow: hidden;
      &.empty
        cursor: default;
        min-height: 126px;
        display: flex
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: mix(color-primary-light-4, color-primary-light-2, 1%);
        box-shadow: 0 0 0px 1px #E1EEF0;
    &__img
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      height: 100%;
      position: relative;
      overflow: hidden;
      background-color: mix(#fff, color-border-base, 35%);
      img
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        &:not([data-empty]) {
          height: 100%;
        }
    &__content
      display: inline-block;
      vertical-align: middle;
      width: 70%;
      line-height: 1.5;
      padding: 20px 32px;
      box-sizing: border-box;
      position: relative;
    &__add-btn
      color: color-assist;
      font-size: 32px
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-color: white;
      border-radius: 50%;
      &:hover
        box-shadow: 0px 5px 10px #0000001A;
    &__title
      color: color-text-primary
      font-size: 16px;
    &__description
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;


