<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
@Component
export default class ExtendsVue<T> extends Vue {
  public infoData: T | null = null;
  public showDrawer = false;
  public index = 0;
  public pageIndex = 1;
  public loveList: string[] = [];
  public icons = {
    addBtn: {
      name: "add-outline",
      classNames: ["simple-card__add-btn--outline"],
    },
    bookmarkBtn: {
      name: "bookmark-outline",
      classNames: ["simple-card__mark-btn--outline"],
    },
  };

  public get storelist(): T[] {
    return [];
  }
  public get maxPageSizes() {
    return this.storelist.length - 1;
  }
  public get showMore() {
    return this.storelist.length > this.pageIndex * 12 - 1;
  }

  public handlerDrawer(item: T, $index: number) {
    this.index = $index;
    this.infoData = item;
    this.showDrawer = true;
  }
  public async handlerPager(index: number) {
    if (index < 0) {
      index = 0;
    }
    if (!this.showMore) {
      index = Math.min(index, this.maxPageSizes);
    } else if (index > this.maxPageSizes) {
      await this.reloadData();
    }

    this.index = index;
    this.infoData = this.storelist[this.index];
  }
  public handlerAddLove(id: string) {
    const journeyList = JSON.parse(localStorage.getItem("journey") ?? "[]");

    for (let i = 0, len = journeyList.length; i < len; i++) {
      if (id > journeyList[i]) {
        if (id < journeyList[i + 1] || i === len - 1) {
          journeyList.splice(i, 0, id);
          break;
        }
      }
      if (id < journeyList[i]) {
        journeyList.unshift(id);
        break;
      }
    }

    if (journeyList.length === 0) {
      journeyList.push(id);
    }

    this.loveList = journeyList;
    localStorage.setItem("journey", JSON.stringify(journeyList));
  }
  public handlerRemoveLove(id: string) {
    let journeyList = JSON.parse(localStorage.getItem("journey") ?? "[]");
    this.loveList = journeyList.filter((listId: string) => listId !== id);
    localStorage.setItem("journey", JSON.stringify(this.loveList));
  }
  public handlerMore() {
    this.reloadData();
  }
  public async reloadData() {
    try {
      await this.api();
      this.pageIndex++;
    } catch (e) {
      console.error(e);
    }
  }
  public async api() {
    throw new Error("請提供api function");
  }

  public mounted() {
    this.loveList = JSON.parse(localStorage.getItem("journey") ?? "[]");
  }

  @Watch("infoData")
  public onDataChange() {
    this.$nextTick(() => {
      const ref = this.$refs["simple-drawer"] as Vue;
      if (ref) {
        ref.$el.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }
    });
  }
}
</script>
