<template>
  <section-box
    title="旅宿"
    class="g-padding"
    :show-more-btn="showMore"
    :is-empty="storelist.length === 0"
    @click-more="handlerMore"
  >
    <div class="flex">
      <simple-card
        v-for="(item, $index) of storelist"
        :key="item.HotelID"
        :title="item.HotelName"
        :image="item.Picture"
        :classType="item.Class"
        :address="item.Address"
        :spec="item.Spec"
        :id="item.HotelID"
        :icons="getIcons(item)"
        @click.native="() => handlerDrawer(item, $index)"
      />
    </div>

    <simple-drawer
      v-model="showDrawer"
      @perv="() => handlerPager(index - 1)"
      @next="() => handlerPager(index + 1)"
      :icons="getIcons(infoData)"
      ref="simple-drawer"
    >
      <drawer-card
        :emptyText="index > maxPageSizes && '沒有更多資料囉！'"
        :infoData="drawerData"
      />
    </simple-drawer>
  </section-box>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import SectionBox from "@/container/section-box";
import SimpleDrawer from "@/container/simple-drawer";
import SimpleCard from "@/container/simple-card";
import DrawerCard, { IDrawerCard } from "@/container/drawer-card";
import * as GettersState from "@/store/getters-state";

import ExtendsVue from "./extends-vue.vue";

@Component({
  components: {
    SectionBox,
    SimpleCard,
    SimpleDrawer,
    DrawerCard,
  },
})
export default class HotelInfo extends ExtendsVue<GettersState.HotelInfo> {
  public infoData: GettersState.HotelInfo | null = null;
  public showDrawer = false;
  public index = 0;
  public pageIndex = 1;

  public get storelist(): GettersState.HotelInfo[] {
    return this.$$store.getters.formatHotelList;
  }
  public get drawerData(): IDrawerCard.Data {
    if (!this.infoData) {
      return {
        title: "",
        description: "",
        items: [],
      };
    }
    return {
      title: this.infoData.HotelName,
      description: this.infoData.Description,
      images: this.infoData.Picture,
      items: [
        {
          icon: "pricetag-outline",
          value: this.infoData.Class,
        },
        {
          icon: "star-outline",
          value: this.infoData.Grade,
        },
        {
          icon: "cash-outline",
          value: this.infoData.Spec?.split(";").join("\n"),
        },
        {
          icon: "location-outline",
          value: this.infoData.Address,
        },
        {
          icon: "call-outline",
          value: this.infoData.Phone,
        },
        {
          icon: "globe-outline",
          value: this.infoData.WebsiteUrl,
        },
      ],
    };
  }
  public getIcons(data?: GettersState.HotelInfo | null) {
    const { addBtn, bookmarkBtn } = this.icons;
    return [
      {
        ...addBtn,
        visibility: this.loveList.includes(data?.HotelID || "") === false,
        on: {
          click: (e: Event) => {
            e.stopPropagation();
            data?.HotelID && this.handlerAddLove(data.HotelID);
          },
        },
      },
      {
        ...bookmarkBtn,
        visibility:
          data?.HotelID && this.loveList.includes(data?.HotelID) === true,
        on: {
          click: (e: Event) => {
            e.stopPropagation();
            data?.HotelID && this.handlerRemoveLove(data.HotelID);
          },
        },
      },
    ];
  }

  public async api() {
    await this.$$store.dispatch("getHotelList", {
      params: {
        ...this.$$store.state.query,
        pageIndex: this.pageIndex + 1,
      },
      isAdd: true,
    });
  }
}
</script>
