<template>
  <section-box
    title="景點"
    class="g-padding"
    :show-more-btn="showMore"
    :is-empty="storelist.length === 0"
    @click-more="handlerMore"
  >
    <div class="flex">
      <simple-card
        v-for="(item, $index) of storelist"
        :key="item.ScenicSpotID"
        :title="item.ScenicSpotName"
        :text="item.Description || item.DescriptionDetail"
        :image="item.Picture"
        :id="item.ScenicSpotID"
        :icons="getIcons(item)"
        @click.native="() => handlerDrawer(item, $index)"
      />
    </div>

    <simple-drawer
      v-model="showDrawer"
      @perv="() => handlerPager(index - 1)"
      @next="() => handlerPager(index + 1)"
      :icons="getIcons(infoData)"
      ref="simple-drawer"
    >
      <drawer-card
        :emptyText="index > maxPageSizes && '沒有更多資料囉！'"
        :infoData="drawerData"
      />
    </simple-drawer>
  </section-box>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import SectionBox from "@/container/section-box";
import SimpleDrawer from "@/container/simple-drawer";
import SimpleCard from "@/container/simple-card";
import DrawerCard, { IDrawerCard } from "@/container/drawer-card";
import * as GettersState from "@/store/getters-state";

import ExtendsVue from "./extends-vue.vue";

@Component({
  components: {
    SectionBox,
    SimpleCard,
    SimpleDrawer,
    DrawerCard,
  },
})
export default class SectionSpotInfo extends ExtendsVue<GettersState.ScenicSpotInfo> {
  public infoData: GettersState.ScenicSpotInfo | null = null;
  public showDrawer = false;
  public index = 0;
  public pageIndex = 1;

  public get storelist(): GettersState.ScenicSpotInfo[] {
    return this.$$store.getters.formatScenicSpotList;
  }
  public get drawerData(): IDrawerCard.Data {
    if (!this.infoData) {
      return {
        title: "",
        description: "",
        items: [],
      };
    }
    return {
      title: this.infoData.ScenicSpotName,
      description: this.infoData.DescriptionDetail,
      images: this.infoData.Picture,
      items: [
        {
          icon: "time-outline",
          value: Array.from(
            new Set(this.infoData.OpenTime?.split(/，|；/))
          ).join("\n"),
        },
        {
          icon: "ticket-outline",
          value: this.infoData.TicketInfo,
        },
        {
          icon: "location-outline",
          value: this.infoData.Address,
        },
        {
          icon: "call-outline",
          value: this.infoData.Phone,
        },
        {
          icon: "car-outline",
          value: this.infoData.TravelInfo,
        },
      ],
    };
  }

  public getIcons(data?: GettersState.ScenicSpotInfo | null) {
    const { addBtn, bookmarkBtn } = this.icons;
    return [
      {
        ...addBtn,
        visibility: this.loveList.includes(data?.ScenicSpotID || "") === false,
        on: {
          click: (e: Event) => {
            e.stopPropagation();
            data?.ScenicSpotID && this.handlerAddLove(data.ScenicSpotID);
          },
        },
      },
      {
        ...bookmarkBtn,
        visibility:
          data?.ScenicSpotID &&
          this.loveList.includes(data?.ScenicSpotID) === true,
        on: {
          click: (e: Event) => {
            e.stopPropagation();
            data?.ScenicSpotID && this.handlerRemoveLove(data.ScenicSpotID);
          },
        },
      },
    ];
  }

  public async api() {
    await this.$$store.dispatch("getScenicSpotList", {
      params: {
        ...this.$$store.state.query,
        pageIndex: this.pageIndex + 1,
      },
      isAdd: true,
    });
  }
}
</script>
