<template>
  <div class="select-city">
    <div class="select-city__header">
      <div class="select-city__header__scroll">
        <div
          v-for="tab of tabs"
          :key="tab.id"
          :class="['select-city__tab', { 'is-avcite': tabIndex === tab.id }]"
          @click="() => changeTabIndex(tab.id)"
        >
          <ion-icon
            class="select-city__tab__icon"
            name="location-outline"
          ></ion-icon>
          <span class="select-city__tab__label">{{ tab.label }}</span>
        </div>
      </div>
    </div>

    <div class="select-city__body">
      <div class="select-city__country">
        <div
          v-for="country of countryList"
          :key="country.City"
          :class="[
            'select-city__optoin',
            { 'is-avcite': value.country.City === country.City },
          ]"
          @click="() => changeCountry(country)"
        >
          {{ country.CityName }}
        </div>
      </div>
      <div class="select-city__town" v-show="townList.length">
        <p class="select-city__town__title">
          該縣市行政區
          <ion-icon
            class="select-city__town__icon"
            name="caret-down-outline"
          ></ion-icon>
        </p>
        <div class="select-city__town__main">
          <div
            v-for="town of townList"
            :key="town.TownCode"
            :class="[
              'select-city__optoin',
              { 'is-avcite': value.town.TownCode === town.TownCode },
            ]"
            @click="() => changeTown(town)"
          >
            {{ town.TownName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { cityData, townData, townAllOption } from "./data";
import { CityBlock, RegionType, ModelValue } from "./types";
import "./style.styl";

@Component
export default class SelectCity extends Vue {
  @Prop({
    default: () => ({
      country: {},
      town: {},
    }),
  })
  public value!: ModelValue;

  public cityData = cityData;
  public townData = townData;
  public tabIndex: RegionType = 0;

  public tabs: CityBlock[] = [
    {
      label: "北部",
      id: RegionType.North,
      cityCode: [],
    },
    {
      label: "東部",
      id: RegionType.East,
      cityCode: [],
    },
    {
      label: "中部",
      id: RegionType.Central,
      cityCode: [],
    },
    {
      label: "南部",
      id: RegionType.South,
      cityCode: [],
    },
    {
      label: "離島",
      id: RegionType.OutlyingIslands,
      cityCode: [],
    },
  ];

  public get countryList() {
    const city = this.tabs.find((tab) => {
      return tab.id === this.tabIndex;
    });

    return city === undefined ? [] : city.cityCode;
  }

  public get townList() {
    return this.townData[this.value.country.City] || [];
  }

  public changeTabIndex(id: RegionType) {
    this.tabIndex = id;
  }

  public changeCountry(country: ModelValue["country"]) {
    const data = {
      country,
      town: townAllOption(),
    };
    this.$emit("input", data);
    this.$emit("change", data);
  }

  public changeTown(town: ModelValue["town"]) {
    const data = { ...this.value, town };
    this.$emit("input", data);
    this.$emit("change", data);
  }

  public created() {
    for (const item of cityData) {
      const { Region } = item;
      for (const block of this.tabs) {
        if (Region === block.id) {
          block.cityCode.push(item);
        }
      }
    }
  }
}
</script>
