
@import '~@/styles/var.styl';
@import '~@/styles/mixins/rwd.styl';

padding-lr = 32px;

.select-city
  &__header
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    overflow: auto;
    position: relative;
    white-space: nowrap;
    &::-webkit-scrollbar
      width: 0;
      height: 0;
    &:after
        content: '';
        position: sticky;
        width:100%;
        bottom: 0;
        left: 0;
        display: block;
        border-bottom: 1px solid color-border-base;
    &__scroll
      min-width: 100%;
      box-sizing: border-box;

  &__tab
    z-index: 1;
    margin-left: 38px;
    margin-right: 38px;
    padding: 12px 0px;
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:hover
      color: color-primary-light-4;

    &:after
      content: '';
      position: absolute;
      bottom: -1px;
      width: 100%;
      left: 0;
      height: 2px;
      border-radius: 2px;
      background-color: transparent;

    &:first-child
      margin-left: padding-lr;
    &:last-child
      margin-right: padding-lr;
    &.is-avcite
      &:after
        background-color: color-primary-light-4;
    &__label
      display: inline-block;
      padding: 0 4px;
      font-size: 24px;
    &__icon
      font-size: 24px;
  &__body
    padding: 24px padding-lr;
    max-height: 180px;
    overflow: auto;
    +$screen(min-lg)
      max-height: 50vh;
  &__country
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
  &__town
    &__title
      padding: 8px 0;
      color: color-primary-light-4;
      font-size: 16px;
      display: flex;
      align-items: center;
    &__main
      padding: 24px;
      display: flex;
      flex-wrap: wrap;
      border-radius: radius-base;
      background-color: #F7F7F7;
    &__icon
      font-size: 20px;
      margin-left: 4px;
  &__optoin
    flex: 20%;
    min-width: 100px;
    max-width: 20%;
    padding: 0 16px 8px 0px;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
    &.is-avcite,
    &:hover
      color: color-primary-light-4;
