<template>
  <component class="section-main" :is="name"></component>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import SectionSpotInfo from "./components/scenic-spot-info.vue";
import RestaurantInfo from "./components/restaurant-info.vue";
import HotelInfo from "./components/hotel.vue";
import ActivityInfo from "./components/activity.vue";
import ActivityNowrapCards from "./components/activity-nowrap-cards.vue";
import "./style.styl";

@Component({
  components: {
    SectionSpotInfo,
    RestaurantInfo,
    HotelInfo,
    ActivityInfo,
    ActivityNowrapCards,
  },
})
export default class SectionMain extends Vue {
  @Prop({ default: "" })
  public name!:
    | "SectionSpotInfo"
    | "RestaurantInfo"
    | "HotelInfo"
    | "ActivityInfo"
    | "ActivityNowrapCards";
}
</script>
