@import '~@/styles/var.styl';
@import "~@/styles/mixins/rwd.styl";

.section-main
  .simple-card
    display: inline-block;
    width: 100%;
    padding-bottom: 50 - 34px;
    box-sizing: border-box;
    +$screen(min-sm)
      max-width: 270px;
      width: calc(33% - 34px);
  .flex
    display: flex;
    gap: 34px;
    flex-wrap: wrap;

  .cash-outline
  .time-outline
  .ticket-outline
    white-space: pre-wrap;
