<template>
  <div :class="['search-bar', 'search-bar--' + size]">
    <div class="home__background"></div>

    <div class="search-bar__text-wrap">
      <h3 class="search-bar__text-title">這次想去哪裡走走?</h3>
      <p class="search-bar__text-p">搜搜帶你一探 Formosa 的每個角落...</p>
      <p class="search-bar__text-p">Let's get a nice travel !</p>
    </div>
    <div class="search-bar__main">
      <div class="search-bar__form">
        <g-dropdown class="search-bar__select">
          <div class="search-bar__select__content">
            <span
              :class="[
                'search-bar__select-value',
                `search-bar__select${
                  !storeQuery.country.City && '--placeholder'
                }`,
              ]"
              >{{ viewValue }}</span
            >
            <ion-icon
              class="search-bar__select-icon"
              name="caret-down-outline"
            ></ion-icon>
          </div>
          <template #dropdown>
            <select-city :value="selectCityValue" @change="updateStoreQuery" />
          </template>
        </g-dropdown>
        <input
          :value="storeQuery.keyword"
          @input="handlerKeyword"
          class="search-bar__input"
          placeholder="輸入關鍵字"
        />
      </div>
      <button class="search-bar__submit" @click="onSearch">SOÜ 搜搜</button>
    </div>

    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import SelectCity from "./select-city";
import GDropdown from "@/components/g-dropdown";
import { cityData, townData, townAllOption } from "./select-city/data";

import { Tourism } from "@/api";
import { Query } from "@/store";

@Component({
  components: {
    GDropdown,
    SelectCity,
  },
})
export default class SearchBar extends Vue {
  @Prop({ default: "smail" })
  public size!: "medium" | "smail";

  public Tourism = Tourism;

  public get storeQuery() {
    return this.$$store.state.query;
  }

  public get selectCityValue() {
    const { country, town } = this.storeQuery;
    return { country, town };
  }

  public get viewValue() {
    const { country, town } = this.storeQuery;
    return country.City
      ? `${country.CityName}, ${town.TownName || ""}`
      : "我想去...";
  }

  public updateStoreQuery(data: Partial<Query>) {
    this.$$store.commit("setQuery", { ...this.storeQuery, ...data });
  }
  public handlerKeyword(e: InputEvent) {
    const el = e.target as HTMLInputElement;
    this.updateStoreQuery({ keyword: el.value.replace(/^ +| +$/, "") });
  }

  public initStoreQuery() {
    const { country = "", town = "", keyword = "" } = this.$route.query;
    const countryValue = cityData.find((item) => item.CityName === country);
    const townValue = countryValue?.City
      ? townData[countryValue.City]?.find((item) => item.TownName === town)
      : undefined;

    this.updateStoreQuery({
      country: countryValue,
      town: townValue || townAllOption(),
      keyword: typeof keyword === "string" ? keyword : "",
    });
  }

  public onSearch() {
    this.$emit("submit", this.storeQuery);
  }

  public mounted() {
    this.initStoreQuery();
  }
}
</script>

<style lang="stylus" src="./style.styl"></style>
