
@import '~@/styles/var.styl';
@import "~@/styles/mixins/rwd.styl";

.search-bar
  &__text-wrap
    color: white;
    padding-bottom: 32px;
    +$screen(min-lg)
      padding-bottom: 70px;
      ^[0]--smail &
        padding-bottom: 28px;
  &__text-title
    font-size: 30px;
    padding-bottom: 8px;
    line-height: 1.55;
    +$screen(min-lg)
      font-size: 48px;
      padding-bottom: 24px;
  &__text-p
    font-size: 20px;
    line-height: 1.4;
    +$screen(min-lg)
      font-size: 34px;
  &__main
    +$screen(min-lg)
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  &__form
    font-size: 20px;
    line-height: 1.5;
    +$screen(max-lg)
      margin-bottom: 20px;
    +$screen(min-lg)
      display: flex;
      width: 40%;
      min-width: 568px;
      margin-right: 32px;
    +$screen(min-xxl)
      min-width: 768px;
  &__select
    background-color: white;
    padding: 15px 24px;
    color: color-text-primary;
    position relative;
    border-radius: 8px;
    +$screen(min-lg)
      flex: 1;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    &__content
      display: flex;
      align-items: center;
      justify-content: space-between;

    &--placeholder
      color: color-text-placeholder;
    &-icon
      color: color-text-placeholder;
    &:after
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      display: inline-block;
      height: 36px;
      width: 2px;
      background-color: color-border-base;
  &__input
    border: 0;
    line-height: 1.5;
    font-size: 20px;
    outline: 0;
    padding: 15px 24px;
    color: color-text-primary;
    background-color: white;
    +$screen(max-lg)
      display: none;
    +$screen(min-lg)
      flex: 1;
      border-radius: radius-base;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;

    &::placeholder
      color: color-text-placeholder;
  &__submit
    color: white;
    border-radius: radius-base;
    padding: 13px 48px;
    border: 0;
    outline: 0;
    font-size: 24px;
    cursor pointer
    // background: linear-gradient(90deg, #EB6522, #F57C2C, #26A69A, #5BBDAD);
    background: linear-gradient(90deg, #EB6522, #F57C2C,#F57C2C, #F57C2C,#26A69A, #5BBDAD);
    background-size: 500%;
    transition: all 1s;

    &:hover
      background-position: 50%;
    &:active
      background-position: 100%;
    +$screen(max-lg)
      width: 100%;

