<template>
  <div class="menu">
    <router-link
      v-for="menu of menus"
      :key="menu.routePath"
      :class="['menu__item', { acvite: isAcvite(menu) }]"
      :to="menu.route($route)"
    >
      <ion-icon class="menu__icon" :name="menu.icon"></ion-icon>
      <div class="menu__label">{{ menu.label }}</div>
    </router-link>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import menus from "./menu-data";

@Component
export default class Menu extends Vue {
  public menus = menus;

  public get routeIndex(): typeof menus[number] | null | undefined {
    const { matched } = this.$route;
    const match = matched[0];
    return this.menus.find((menu) => menu.routePath === match?.path);
  }

  public isAcvite(itemRoute: typeof menus[number]) {
    return itemRoute.routePath === this.routeIndex?.routePath;
  }
}
</script>

<style lang="stylus" src="./main.styl"></style>
