
@import "~@/styles/var.styl";
@import "~@/styles/mixins/rwd.styl";

.menu
  display: flex;

  .acvite
    color: #26A69A;
  &__item
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5A8886;
    text-decoration: none;
    min-height: 60px;
    padding: 8px;
    box-sizing: border-box;
    background-color: color-primary;

    &:not(.acvite):hover
      color: #24868F;
    +$screen(min-lg)
      min-height : 144px;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #5A8C8C;
  &__label
    margin-top: 4px;
    font-size: 12px;
    word-break: keep-all;
    text-align: center;
    +$screen(min-lg)
      margin-top: 8px;
      font-size: 20px;
  &__icon
    font-size: 24px;
    +$screen(min-lg)
      font-size: 48px;
