<template>
  <div :class="['g-tabs', size, theme]">
    <div class="g-tabs__main">
      <div class="g-tabs__header-scroll">
        <ul class="g-tabs__header">
          <component
            v-for="(tab, index) of tabs"
            :key="index"
            :is="renderHeader(tab, index)"
          />
        </ul>
      </div>
      <div class="g-tabs__body">
        <transition tag="div">
          <component
            :is="renderBody(tabs && tabs[activeIndex])"
            :key="activeIndex"
          />
        </transition>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { CreateElement, VNode } from "vue";
import { Component, Vue, Prop } from "vue-property-decorator";
import { GTabsProps, TabComponentPropsData } from "./types";

@Component
export default class GTabs extends Vue implements GTabsProps {
  @Prop()
  public value?: string;

  @Prop({ default: "default" })
  public size!: "default" | "smail";

  @Prop({ default: "white" })
  public theme!: "white" | "dark";

  @Prop({ default: () => () => true })
  public beforeChange!: (tab: VNode) => boolean;

  public index = 0;

  public get tabs() {
    return this.$slots.default?.filter(
      (component) => component.componentOptions
    );
  }

  public get activeIndex() {
    const find = this.tabs?.findIndex(
      (item) =>
        (item.componentOptions?.propsData as TabComponentPropsData)?.name ===
        this.value
    );
    return find || this.index;
  }

  public onTabClick(tab: VNode, index: number, e: PointerEvent) {
    this.$emit("click-tab", tab, index, e);
    if (!this.beforeChange(tab)) {
      return;
    }
    this.index = index;
    this.$emit(
      "input",
      (tab.componentOptions?.propsData as TabComponentPropsData)?.name
    );
    this.$emit("change-tab", tab, index, e);
  }
  public renderHeader(tab: VNode, $index: number) {
    if (!tab.componentOptions) return;
    if (!tab.componentOptions.propsData) return;

    const { name, label, disabled } = tab.componentOptions
      .propsData as TabComponentPropsData;
    const content = this.$slots[name] || label;
    const { onTabClick, activeIndex } = this;

    return {
      name: "g-tabs-header-item",
      functional: true,
      render(h: CreateElement) {
        return h(
          "li",
          {
            class: [
              "g-tabs__header-item",
              name,
              {
                "is-disabled": disabled,
                "is-selected": activeIndex === $index,
              },
            ],
            on: {
              click: (e: PointerEvent) => {
                if (tab.context) {
                  onTabClick(tab, $index, e);
                }
              },
            },
          },
          [content]
        );
      },
    };
  }
  public renderBody(tab: VNode | undefined) {
    if (!tab) return;

    return {
      name: "g-tabs-slot-item",
      functional: true,
      render() {
        return tab;
      },
    };
  }
}
</script>

<style lang="stylus" src="./style.styl"></style>
