@import '~@/styles/var.styl';
.g-tabs
  width: 100%;
  &.dark
    background-color: rgba(0,0,0,0.5)
  &.white
    background-color: #fff;
  border-radius: radius-base;
  &__header-item
    display: inline-block;
    vertical-align: middle;
    cursor pointer
    margin-right: 40px;
  &__header
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
    color: #B3B0AC;
    ^[0].default
      font-size: 24px;
    ^[0].smail
      font-size: 20px;

    &-scroll
      overflow: auto;
      padding-bottom: 1px;
      position: relative;
      &::-webkit-scrollbar
        width: 0;
        height: 0;
      &:after
        content: '';
        position: sticky;
        width:100%;
        bottom: 0;
        left: 0;
        display: block;
        border-bottom: 1px solid color-border-base;
        z-index:-1;
    &-item
      position: relative;
      padding-top: 12px;
      padding-bottom: 12px;
      line-height: 1.5;
      transition: all transition-time;
      &:after
        content: '';
        display: block;
        border-radius: 2px;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -2px;
        left: 0;
        background-color: rgba(0,0,0,0);
        transition: all transition-time;
      ^[0].dark &
        color: color-text-placeholder;
        &.is-disabled
        &.is-selected
          color: color-assist;
          &:after
            background-color: color-assist;
      ^[0].white &
        color: color-text-primary;
        &.is-disabled
        &.is-selected
          &:after
            background-color: color-primary-light-4;
  &__body
    padding: 30px;
