<template>
  <div class="g-tab">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { TabComponent } from "./types";

@Component
export default class GTab extends Vue implements TabComponent {
  @Prop({ default: "" })
  public name!: string;

  @Prop({ default: "" })
  public label!: string;

  @Prop({ default: false, type: Boolean })
  public disabled!: boolean;
}
</script>

<style lang="less" scoped></style>
