<template>
  <div class="image-card">
    <img :src="url" :alt="urlDescription" @error="onImageError" />
    <a
      class="image-card__pic__descripton"
      :href="getUrl(address)"
      target="_blank"
    >
      <span>{{ name }}</span>
      <span>
        <ion-icon name="location-outline"></ion-icon>
        {{ formatAddress(address) }}</span
      >
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { onImageError } from "@/utils/error";

@Component
export default class ImageCard extends Vue {
  @Prop({ default: "" })
  public url!: string;
  @Prop({ default: "" })
  public urlDescription!: string;
  @Prop({ default: "" })
  public address!: string;
  @Prop({ default: "" })
  public name!: string;

  public formatAddress(address: string) {
    return address.slice(0, 3);
  }
  public onImageError(e: Event) {
    onImageError(e);
  }
  public getUrl(keyword: string) {
    return `https://www.google.com/maps/search/?api=1&query=` + keyword;
  }
}
</script>

<style lang="stylus" scoped src="./image-card.styl"></style>
