@import "~@/styles/mixins/rwd.styl";

.image-card
  flex-grow: 1;
  position: relative;
  border-radius: radius-base;
  overflow: hidden;
  transition: opacity 8s;
  img
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;

  &:hover ^[0]__pic__descripton
    pointer-events: auto;
    opacity: 1;
    backdrop-filter: blur(3px);
    transition: opacity 0.3s, backdrop-filter 0.5s;

  &__pic__descripton
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    backdrop-filter: blur(0px);
    background-color: rgba(0,0,0,0.3);
    transition: opacity 0.5s, backdrop-filter 0.3s;
    &:hover
      opacity: 1;
    span
      display: inline-block;
      width: 100%;
      font-size: 16px;
      color: #FDF6EE;
      text-shadow: 0px 1px 2px #00000040;
      padding: 2px;
    span + span
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: color-text-secondary;
      [name="location-outline"]
        flex-shrink: 0;
