<template>
  <layout-main class="home">
    <search-slider-image size="medium">
      <search-bar @submit="handlerRoute" />

      <g-tabs v-model="value" theme="dark" v-if="showCard">
        <template #scenicSpotList>
          <h3 class="home__tabs__title">
            <ion-icon
              class="home__tabs__icon"
              name="sparkles-outline"
            ></ion-icon
            >推薦景點
          </h3>
        </template>
        <template #restaurantList>
          <h3 class="home__tabs__title">
            <ion-icon
              class="home__tabs__icon"
              name="sparkles-outline"
            ></ion-icon
            >推薦美食
          </h3>
        </template>
        <template #hotelList>
          <h3 class="home__tabs__title">
            <ion-icon
              class="home__tabs__icon"
              name="sparkles-outline"
            ></ion-icon
            >推薦旅宿
          </h3>
        </template>
        <!-- bug: 1. v-for組件無法渲染出來   -->
        <!-- bug: 2. 無法拿到異步後資料   -->
        <!-- <g-tab
          class="flex"
          v-for="item of list"
          :key="item.name"
          :name="item.name"
        >
          <div
            class="hoem__pic__wrap"
            v-for="listItem of item.list"
            :key="listItem.ID"
          >
            <img
              :src="listItem.Picture.PictureUrl1"
              :alt="listItem.Picture.PictureDescription1"
            />
          </div>
        </g-tab> -->
        <g-tab name="scenicSpotList" class="flex">
          <image-card
            v-for="listItem of scenicSpotList"
            :key="listItem.ScenicSpotID"
            :url="listItem.Picture.PictureUrl1"
            :urlDescription="listItem.Picture.PictureDescription1"
            :address="listItem.Address"
            :name="listItem.ScenicSpotName"
          />
        </g-tab>
        <g-tab name="restaurantList" class="flex">
          <image-card
            v-for="listItem of restaurantList"
            :key="listItem.RestaurantID"
            :url="listItem.Picture.PictureUrl1"
            :urlDescription="listItem.Picture.PictureDescription1"
            :address="listItem.Address"
            :name="listItem.RestaurantName"
          />
        </g-tab>
        <g-tab name="hotelList" class="flex">
          <image-card
            v-for="listItem of hotelList"
            :key="listItem.HotelID"
            :url="listItem.Picture.PictureUrl1"
            :urlDescription="listItem.Picture.PictureDescription1"
            :address="listItem.Address"
            :name="listItem.HotelName"
          />
        </g-tab>
      </g-tabs>

      <div class="home__about-the-website">
        <h3 class="home__about-the-website__title">
          關於<img :src="image.Logo" alt="sousoü" />
        </h3>
        <p class="home__about-the-website__description">
          sousoü 網站為參與 THE F2E
          精神時光屋活動主題「台灣旅遊景點導覽」之非商用設計作品，「觀光資訊」之部份資料，取自「中華民國交通部
          TDX」，其他網站相關之文字、圖片均屬來源作者所有。
        </p>
      </div>
    </search-slider-image>
  </layout-main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SearchBar from "@/container/search-bar";
import LayoutMain from "@/container/layout-main";
import SearchSliderImage from "@/container/search-slider-image";
import ImageCard from "./image-crad.vue";
import GTabs, { GTab } from "@/components/g-tabs";
import Logo from "@/assets/logo-light.png";
import _ from "lodash";

import * as Api from "@/api";
import * as Tourism from "@/api/types/tourism";

@Component({
  metaInfo: {
    title: " |(*´∀｀)",
  },
  components: {
    SearchBar,
    LayoutMain,
    SearchSliderImage,
    GTabs,
    GTab,
    ImageCard,
  },
})
export default class Home extends Vue {
  public image = {
    Logo,
  };
  public value = "scenicSpotList";

  public scenicSpotList: Tourism.ScenicSpotInfo[] = [];
  public restaurantList: Tourism.RestaurantInfo[] = [];
  public hotelList: Tourism.HotelInfo[] = [];
  public showCard = false;

  public list = [
    {
      name: "scenicSpotList",
      label: "推薦景點",
      list: this.scenicSpotList,
    },
    {
      name: "restaurantList",
      label: "推薦美食",
      list: this.restaurantList,
    },
    {
      name: "hotelList",
      label: "推薦旅宿",
      list: this.hotelList,
    },
  ];

  public handlerRoute() {
    const state = this.$$store.state;
    const { country, town, keyword } = state.query;
    this.$router.push({
      name: "search",
      query: {
        country: country?.CityName || undefined,
        town: town?.TownCode ? town?.TownName : undefined,
        keyword: keyword || undefined,
      },
    });
  }
  public async mounted() {
    const params = {
      $skip: _.random(0, 20) + "",
      $top: 6,
      $orderby: "UpdateTime desc",
      $filter: "Picture/PictureUrl1 ne null",
    };
    try {
      this.scenicSpotList = await Api.Tourism.getScenicSpotList({
        ...params,
        $select: "ScenicSpotID,Picture,ScenicSpotName,Address,UpdateTime",
      });
    } catch (e) {
      console.error(e);
    }
    try {
      this.restaurantList = await Api.Tourism.getRestaurantList({
        ...params,
        $select: "RestaurantID,Picture,RestaurantName,Address,UpdateTime",
      });
    } catch (e) {
      console.error(e);
    }
    try {
      this.hotelList = await Api.Tourism.getHotelList({
        ...params,
        $select: "HotelID,Picture,HotelName,Address,UpdateTime",
      });
    } catch (e) {
      console.error(e);
    }

    this.showCard = true;
  }
}
</script>

<style lang="stylus" scoped src="./main.styl"></style>
