@import "~@/styles/var.styl";
@import "~@/styles/mixins/rwd.styl";

.home
  &__about-the-website
    display: inline-block;
    width: 35%;
    vertical-align: bottom;
    &__title
      color: color-border-base;
      font-size: 24px;
      img {
        width 94px;
      }
      &:after
        content: '';
        display: block;
        height: 1px;
        background-color: color-border-base
        margin: 10px 0;
    &__description
      line-height: 1.7

  .search-slider-image
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    padding-top: logo-mobile-height;
    >>> .slider-image__page
      top: 45%;
    +$screen(max-lg) {
      padding-bottom: 80px;
    }
  .g-tabs
    margin-top: 50px;
    +$screen(min-lg)
      display: inline-block;
      width: 60%
  >>> .g-tabs__body
      min-height 322px;
      box-sizing: border-box;
  .g-tab
    &.flex
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      gap: 24px;
  &__tabs__title
    display: flex;
    align-items: center;
  &__tabs__icon
    margin-right: 4px;

  .image-card
    width: 30%;
    max-height: 120px;

  >>> .slider-image__content
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

  +$screen(max-lg)
    >>> .slider-image__content
      .search-bar
        order: 1;
        width: 100%;
      .home__about-the-website
        order: 2;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 80px;
    .g-tabs
      margin-bottom: 50px;
  // &__pic__wrap
  //   width: 30%;
  //   max-height: 120px;
  //   flex-grow: 1;
  //   position: relative;
  //   border-radius: radius-base;
  //   overflow: hidden;
  //   transition: opacity 8s;
  //   img
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //     vertical-align: middle;
