<template>
  <Layout id="app">
    <template #other>
      <ion-icon class="lang-icon" name="language-outline"></ion-icon>
    </template>
    <router-view />
  </Layout>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Layout from "@/container/layout";

@Component({
  metaInfo: {
    titleTemplate: "SOUSOU%s",
  },
  components: {
    Layout,
  },
})
export default class App extends Vue {
  public mounted() {
    const script = document.createElement("script");

    if (document.getElementById("ionicons")) {
      return;
    }

    script.id = "ionicons";
    script.src =
      "https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js";
    script.type = "module";

    document.body.appendChild(script);
  }
}
</script>

<style lang="stylus">
@import '~@/styles/index.styl';
@import "~@/styles/mixins/rwd.styl";

#app {
  font-family Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.lang-icon {
  color: #5A8886;
  font-size: 24px;
  position absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
  +$screen(min-lg) {
    right: 48px;
    top: 72px;
  }
  &:hover {
    color: #24868F;
  }
}
</style>
