<template>
  <div :class="['g-drawer', direction, { 'is-show': value }]">
    <span class="g-drawer__icon" v-if="showClose">
      <ion-icon name="close-circle" @click="handlerClose"></ion-icon>
    </span>
    <div class="g-drawer__background" @click="onClickBackground"></div>

    <div class="g-drawer__main" ref="drawer-main">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import "./style.styl";

import { GDrawer as T, ScrollToOptions } from "./types";

@Component
export default class GDrawer extends Vue implements T {
  @Prop({ default: false })
  public value!: boolean;

  @Prop({ default: false })
  public showClose!: boolean;

  @Prop({ default: true })
  public wrapperClosable!: boolean;

  @Prop({ default: "right" })
  public direction!: "left" | "right" | "bottom" | "top";

  public get transitionClass() {
    return `fede-${this.direction}`;
  }

  public onClickBackground() {
    if (this.wrapperClosable) {
      this.handlerClose();
    }
  }

  public handlerClose() {
    this.$emit("input", false);
    this.$emit("change", false);
  }

  public scrollTo(options: ScrollToOptions = {}): void {
    const ref = this.$refs["drawer-main"] as HTMLDivElement;
    this.$nextTick(() => {
      if (ref) {
        ref.scrollTo({
          top: 0,
          behavior: "smooth",
          ...(options || {}),
        });
      }
    });
  }
}
</script>
