
@import '~@/styles/var.styl';

.g-drawer
  &__background
    position: fixed;
    ^[0].is-show &
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(255,255,255, 0.3);
      z-index: 10;
  &__main
    padding: 32px;
    position: fixed;
    top: 20px;
    bottom: 20px;
    min-width: 320px;
    max-width: 400px;
    width: 40%;
    box-sizing: border-box;
    background-color: white;
    border-radius: radius-base;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1000;
    box-shadow: -2px 3px 12px #00000026;
    transition: transition-time;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar
      width: 0;
      height: 0;
    ^[0].left &
      left: 0;
      opacity: 0;
    ^[0].right &
      right: -400px;
      transition: 0.5s;
      ^[0].is-show ^[1]
        right: 0;
        transition: transition-time ease-out;
    ^[0].bottom &
      bottom: 0;
    ^[0].top &
      top: 0;
  &__icon
    font-size: 40px;
    cursor: pointer;
