@import '../var.styl';

minScreen(screen) {
  "screen and (min-width:" + screen + ")"
}
maxScreen(screen) {
  "screen and (max-width:" + (screen - 1) + ")"
}
queries = {
  min-xs: minScreen(screen-xs),
  min-sm: minScreen(screen-sm),
  min-md: minScreen(screen-md),
  min-lg: minScreen(screen-lg),
  min-xl: minScreen(screen-xl),
  min-xxl: minScreen(screen-xxl),

  max-xs: maxScreen(screen-xs),
  max-sm: maxScreen(screen-sm),
  max-md: maxScreen(screen-md),
  max-lg: maxScreen(screen-lg),
  max-xl: maxScreen(screen-xl),
  max-xxl: maxScreen(screen-xxl),
}

$screen(breakpoints)
    conditions = ()
    for breakpoint in breakpoints
        push(conditions, queries[breakpoint])
    conditions = join(", ", conditions)
    @media conditions
        {block}

// screen-lg() {
//   @media screen and (min-width: screen-lg) {
//     {block}
//   }
// }
