<template>
  <div class="pager">
    <span
      :class="['pager__perv pager__item', { 'is-disabled': !canPerv }]"
      @click="() => canPerv && changePageIndex(pageIndex - 1)"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </span>
    <ul class="pager__main">
      <li
        :class="[
          'pager__main__item pager__item',
          { 'is-acvite': index === pageIndex },
        ]"
        v-for="index of pages"
        :key="pageKey(index)"
        @click="() => changePageIndex(index)"
      >
        {{ index }}
      </li>
    </ul>
    <span
      :class="['pager__next pager__item', { 'is-disabled': !canNext }]"
      @click="() => canNext && changePageIndex(pageIndex + 1)"
    >
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import "./style.styl";

@Component
export default class Pager extends Vue {
  @Prop({ default: 1 })
  public pageIndex!: number;
  @Prop({ default: 10 })
  public pageSize!: number;
  @Prop({ default: 0 })
  public total!: number;

  public get canNext() {
    return this.pageIndex !== this.pageSizeTotal;
  }
  public get canPerv() {
    return this.pageIndex !== 1;
  }

  public pageKey(index: number) {
    return `${index}-${this.pageSize}`;
  }
  public get pageSizeTotal() {
    return Math.ceil(this.total / this.pageSize);
  }

  public get pages() {
    const { pageIndex, pageSizeTotal } = this;
    const size = 5;
    const mid = (size - 1) / 2;
    const pages = [];
    const isLastPage = pageIndex > pageSizeTotal - size + mid;
    const isMidPage = pageIndex > mid;

    const start = isLastPage
      ? Math.max(1, pageSizeTotal - size + 1)
      : isMidPage
      ? pageIndex - mid
      : 1;
    pages.push(start);

    for (let i = 1; i < Math.min(size, Math.max(pageSizeTotal, 1)); i++) {
      pages.push(start + i);
    }

    return pages;
  }

  public changePageIndex(index: number) {
    this.$emit("update:pageIndex", index);
    this.$emit("changePageIndex", index);
  }
}
</script>
