@import '~@/styles/var.styl';

.pager
  color: white;
  display: flex;
  align-items: center;
  &__item
    cursor: pointer;
    opacity: 0.5;
    width: 20px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    &.is-acvite
    &:hover
      opacity: 1;
  &__main
    display: flex;
    align-items: center;
    &__item
      font-size: 20px
  &__perv
  &__next
    display: flex;
    justify-content: center;
    font-size: 24px
    width: 20px;
    &.is-disabled
      &:hover
        opacity: 0.5;



